/* Chrome, Safari, Edge, Opera */
.page-num::-webkit-outer-spin-button,
.page-num::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
.page-num[type='number'] {
    -moz-appearance: textfield;
    appearance: textfield;
}
